.container {
    max-width: 1262px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.middle__container {
    width: 1370px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    background-color: slategrey;
}