* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.btn {
    max-width: 247px;
    width: 100%;
    display: block;
    padding: 26px;
    background: #FF5634;
    border: 1px solid #FF5634;
    border-radius: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    box-shadow: 0 0px 0 0;
    transition: all 0.4s ease;
}

.btn:hover {
    box-shadow: 0px 0 0 0 green;
}

.button {
    border: 1px solid #EDEDED;
    box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
    border-radius: 16px;
    width: 205px;
    padding: 26px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    text-align: center;
    color: #121212;
    background: #FFFFFF;
    text-decoration: none;
    display: block;
}

.span {
    display: inline-block;
    width: 1221px;
    border: 1px solid #CACACA;
}